<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>Webserver API</display-name>
    <description>Webserver API</description>

    <servlet>
        <servlet-name>RequestCatcher</servlet-name>
        <servlet-class>org.webserver.servlet.RequestCatcher</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RequestCatcher</servlet-name>
        <url-pattern></url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ThreadInitServlet</servlet-name>
        <servlet-class>org.webserver.servlet.ThreadInitServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>DBLoadHookInitServlet</servlet-name>
        <servlet-class>org.webserver.servlet.DBLoadHookInitServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <error-page>
        <error-code>404</error-code>
        <location>/pages/invalid.jsp</location>
    </error-page>

</web-app>
